body {
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
}

.nopadding {
    padding: 0px;
    margin: 0px;
}

#surveyContainer {
    border-radius: 25px;
    background-color: white;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

input, select {
    margin: 3px;
    display: inline-block;
}

.labelClass {
    display: inline-block;
    padding: 0px;
    margin-top: 7px;
    margin-bottom: 3px;
}
